In [1]:
import os
current_directory = os.getcwd() # 현재 작업 디렉토리를 얻기
print("현재 작업 디렉토리:", current_directory)

현재 작업 디렉토리: C:\apps\miniproj

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import platform
if platform.system() == "Darwin":          # MAC인 경우
    plt.rc('font', family ="AppleGothic")
else:
    plt.rc('font',family='Malgun Gothic')

#멧플로립에서 음수를 표시
plt.rc('axes',unicode_minus=False)

#워닝 메시지 제거
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 데이터 불러오기
M = pd.read_csv('./month_data.csv', encoding='euc-kr', index_col=0)

In [4]:
M

,날짜,경제심리지수(순환변동치),뉴스심리지수,소비자심리지수,외국인 보유금액(조),외환보유액(천달러),미국M2,한국M2(십억원),한국금리,미국금리,경상수지,원달러종가,원달러시가
0,10-Jan,113.6,112.74,116.5,281.9,268917449,8479.15,1574215.8,2.0,0.13,1776.4,1156.5,1166.08
1,10-Feb,114.3,104.80,114.0,277.6,265865270,8487.28,1595403.8,2.0,0.13,322.4,1158.4,1159.80
2,10-Mar,114.7,107.75,113.9,300.8,267567135,8566.14,1607896.1,2.0,0.13,917.1,1130.8,1158.00
3,10-Apr,115.0,110.18,113.6,315.8,274143774,8611.55,1621176.9,2.0,0.13,796.9,1115.5,1129.95
4,10-May,115.1,107.73,113.7,294.4,265595927,8577.66,1630904.7,2.0,0.13,6650.4,1200.2,1109.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,23-Mar,92.2,93.66,92.0,648.7,401730032,21059.53,3811138.9,3.5,4.88,158.1,1303.8,1323.44
159,23-Apr,92.2,96.85,95.1,660.6,402190255,20920.88,3793259.9,3.5,4.88,792.6,1339.9,1306.47
160,23-May,92.4,96.80,98.0,692.2,396787900,20726.76,3785013.0,3.5,5.13,1927.2,1322.2,1338.17
161,23-Jun,92.7,100.60,100.7,690.3,397202408,20806.15,3801207.0,3.5,5.13,5873.7,1312.8,1322.33
162,23-Jul,92.9,102.19,103.2,700.7,397490841,20787.72,3821877.2,3.5,5.38,3578.8,1280.0,1316.97

In [5]:
from PublicDataReader import Ecos
service_key = "2D9DY7C4S29XV51QBTPT"
api = Ecos(service_key)
df = api.get_statistic_table_list()
# df = api.get_statistic_search(통계표코드="200Y001", 주기="M", 검색시작일자="20", 검색종료일자="2021")
df.loc[df['통계표코드'] == '513Y001']

        상위통계표코드    통계표코드          통계명 시점 검색가능여부    출처
653  0000000283  513Y001  6.3. 경제심리지수  M      Y  한국은행

In [6]:
E2000 = api.get_statistic_search(통계표코드='513Y001', 주기="M", 검색시작일자="200212", 검색종료일자="202310")

In [8]:
E2000 = E2000.loc[E2000['통계항목코드1'] == 'E2000']

In [9]:
E2000

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,시점,값
249,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,200301,95.7
250,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,200302,95.6
251,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,200303,95.6
252,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,200304,95.9
253,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,200305,96.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,202305,92.4
494,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,202306,92.7
495,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,202307,92.9
496,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,202308,93.2
497,513Y001,6.3. 경제심리지수,E2000,경제심리지수(순환변동치),None,None,None,None,None,None,None,202309,93.4

In [10]:
E2000 = E2000[['시점', '값']].rename(columns = {'값':'경제심리지수(순환변동치)'})

In [11]:
E2000

         시점 경제심리지수(순환변동치)
249  200301          95.7
250  200302          95.6
251  200303          95.6
252  200304          95.9
253  200305          96.5
..      ...           ...
493  202305          92.4
494  202306          92.7
495  202307          92.9
496  202308          93.2
497  202309          93.4

[249 rows x 2 columns]

In [12]:
international = api.get_statistic_search(통계표코드='301Y013', 주기="M", 검색시작일자="190001", 검색종료일자="202310")

In [19]:
international

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,시점,값
0,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,198001,0
1,301Y013,2.5.1.1. 국제수지,BOPF21200000,부채성증권(자산),None,None,None,None,None,None,백만달러,198001,0
2,301Y013,2.5.1.1. 국제수지,BOPF21210000,장기증권(자산),None,None,None,None,None,None,백만달러,198001,0
3,301Y013,2.5.1.1. 국제수지,BOPF22000000,증권투자(부채),None,None,None,None,None,None,백만달러,198001,-6.6
4,301Y013,2.5.1.1. 국제수지,BOPF22100000,주식(부채),None,None,None,None,None,None,백만달러,198001,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,301Y013,2.5.1.1. 국제수지,BOPF42223000,예금취급기관,None,None,None,None,None,None,백만달러,202003,13934.8
99995,301Y013,2.5.1.1. 국제수지,BOPF42224000,기타부문,None,None,None,None,None,None,백만달러,202003,74.1
99996,301Y013,2.5.1.1. 국제수지,BOPF42224100,기타금융기관,None,None,None,None,None,None,백만달러,202003,1.1
99997,301Y013,2.5.1.1. 국제수지,BOPF42224200,비금융기업등,None,None,None,None,None,None,백만달러,202003,73
99998,301Y013,2.5.1.1. 국제수지,BOPF42300000,현금및예금(부채),None,None,None,None,None,None,백만달러,202003,1052.6

In [16]:
inli = international[international.columns[2]].value_counts().index

In [22]:
international.loc[international[international.columns[2]] == inli[0]]

,통계표코드,통계명,통계항목코드1,통계항목명1,통계항목코드2,통계항목명2,통계항목코드3,통계항목명3,통계항목코드4,통계항목명4,단위,시점,값
0,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,198001,0
275,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,198002,0
435,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,198003,0
484,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,198004,0
647,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,198005,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98733,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,201911,4598.4
98999,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,201912,1157
99396,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,202001,3527.5
99532,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,202002,4816
99975,301Y013,2.5.1.1. 국제수지,BOPF21100000,주식(자산),None,None,None,None,None,None,백만달러,202003,4448.1