In [28]:
import pandas as pd

In [33]:
df = pd.read_csv('./raw_data_joo.csv', encoding='euc-kr')

In [59]:
df.tail()

,날짜,달러원종가,달러원시가,CD91,WTI가,달러위안화,달러엔,달러인덱스,유로달러,유로인덱스,콜금리,코스피종가,BIR
3313,2023-09-11,1325.49,1336.34,3.72,87.42,7.2882,146.58,121.8185,1.0748,124.19,3.602,2556.879883,2.35
3314,2023-09-12,1326.15,1326.05,3.73,88.94,7.2910,147.08,121.7721,1.0752,124.21,3.597,2536.580078,2.34
3315,2023-09-13,1326.59,1326.72,3.75,88.80,7.2700,147.45,121.5454,1.0728,124.25,3.592,2534.699951,2.35
3316,2023-09-14,1329.52,1328.20,3.76,90.67,7.2770,147.47,121.7192,1.0641,124.19,3.587,2572.889893,2.34
3317,2023-09-15,1328.46,1330.02,3.78,91.15,7.2744,147.82,121.6815,1.0655,123.94,3.580,2601.280029,2.35

In [43]:
cnykrw = pd.read_csv('./데이터/CNY_KRW 일별 2010~.csv')[['날짜','종가']].sort_values('날짜')

In [47]:
cnykrw['날짜'] = pd.to_datetime(cnykrw['날짜']).dt.strftime('%Y-%m-%d')

In [66]:
cnykrw=cnykrw.rename(columns = {'종가':'위안화원'})

In [67]:
cnykrw

              날짜    위안화원
3581  2010-01-01  170.81
3580  2010-01-04  168.42
3579  2010-01-05  166.87
3578  2010-01-06  165.38
3577  2010-01-07  166.69
...          ...     ...
4     2023-09-19  182.06
3     2023-09-20  182.87
2     2023-09-21  183.20
1     2023-09-22  182.77
0     2023-09-25  182.97

[3582 rows x 2 columns]

In [54]:
jptkrw = pd.read_csv('./데이터/JPY_KRW 과거 데이터.csv')[['날짜','종가']].sort_values('날짜')

In [55]:
jptkrw['날짜'] = pd.to_datetime(jptkrw['날짜']).dt.strftime('%Y-%m-%d')

In [64]:
jptkrw=jptkrw.rename(columns = {'종가':'엔원'})

In [76]:
jptkrw.isna().sum()

날짜    0
엔원    0
dtype: int64

In [69]:
df1 = pd.merge(df,cnykrw, how='left',on='날짜')

In [85]:
df2 = pd.merge(df1,jptkrw, how='left',on='날짜')

In [86]:
df2 = df2.bfill()

In [91]:
df2

,날짜,달러원종가,달러원시가,CD91,WTI가,달러위안화,달러엔,달러인덱스,유로달러,유로인덱스,콜금리,코스피종가,BIR,위안화원,엔원
0,2010-01-04,1150.00,1164.07,2.88,81.64,6.8285,92.47,92.3566,1.4413,106.23,1.980,1696.140015,2.38,168.42,12.4230
1,2010-01-05,1140.20,1151.00,2.88,81.47,6.8268,91.58,92.2236,1.4369,105.82,1.980,1690.619995,2.34,166.87,12.4313
2,2010-01-06,1129.20,1140.20,2.88,83.25,6.8278,92.38,92.0941,1.4413,106.11,1.960,1705.319946,2.37,165.38,12.2274
3,2010-01-07,1138.20,1129.20,2.88,82.69,6.8281,93.45,92.3684,1.4318,105.84,1.990,1683.449951,2.41,166.69,12.1974
4,2010-01-08,1128.25,1135.50,2.88,82.91,6.8276,92.68,92.1485,1.4413,106.18,2.000,1695.260010,2.42,165.25,12.1710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3313,2023-09-11,1325.49,1336.34,3.72,87.42,7.2882,146.58,121.8185,1.0748,124.19,3.602,2556.879883,2.35,181.81,9.0415
3314,2023-09-12,1326.15,1326.05,3.73,88.94,7.2910,147.08,121.7721,1.0752,124.21,3.597,2536.580078,2.34,181.85,9.0159
3315,2023-09-13,1326.59,1326.72,3.75,88.80,7.2700,147.45,121.5454,1.0728,124.25,3.592,2534.699951,2.35,182.43,8.9957
3316,2023-09-14,1329.52,1328.20,3.76,90.67,7.2770,147.47,121.7192,1.0641,124.19,3.587,2572.889893,2.34,182.65,9.0149
3317,2023-09-15,1328.46,1330.02,3.78,91.15,7.2744,147.82,121.6815,1.0655,123.94,3.580,2601.280029,2.35,182.61,8.9846

In [94]:
file_path = 'C:/Users/user/Documents/카카오워크 받은 파일/환율신호등/raw_data_.csv'  # 저장할 경로 및 파일 이름을 지정하세요
df2.to_csv(file_path, encoding='euc-kr', index=False)

In [96]:
df3 = pd.read_csv(file_path, encoding='euc-kr')

In [97]:
df3.isna().sum()

날짜       0
달러원종가    0
달러원시가    0
CD91     0
WTI가     0
달러위안화    0
달러엔      0
달러인덱스    0
유로달러     0
유로인덱스    0
콜금리      0
코스피종가    0
BIR      0
위안화원     0
엔원       0
dtype: int64